  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>  <br/><br/>
<div style="background-color: #425D87; width: 100%">


  <div class="row">
    <div class="text-center" style="margin-top: -40px">
      <%= image_tag("uppday-footer.png", alt: "Example Image", class: "img-circle") %>
    </div>
  </div>


  <br/><br/>
  <div class="row" style="margin-left: 50px;">
    <div class="col-md-3 col-sm-12" style="line-height: 22pt;">
      <h3 style="color: white"> A propos </h3><br/>

      <%= link_to "Comment ça marche ?", uppday_path, style: "color: white; text-decoration: none;" %>
      <p><a href="http://blog.uppday.com/contact-uppday/" style="color: white"> Qui sommes-nous ? </a></p>
      <p style="color: white"> Plan du site</p>

    </div>
    <div class="col-md-3 col-sm-12">
      <h3 style="color: white"> Informations </h3><br/>
      <p style="color: white"> Mentions legales ?</p>
      <p style="color: white"> Conditions générale de vente ?</p>
      <p style="color: white"> Conditions générale d'utilisation ?</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h3 style="color: white"> Le blog Uppday </h3><br/>
      <p><a href="http://blog.uppday.com/services-additionnels/" style="color: white"> Nos services additionnels </a></p>
      <p><a href="http://blog.uppday.com/projet-uppday/" style="color: white"> Nos perspectives de développement </a></p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h3 style="color: white"> Suivez-nous ! </h3><br/>
      <a href="https://www.facebook.com/uppday/"><i class="fab fa-facebook-f fa-3x" data-fa-transform="shrink-4.5 down-1.6 right-1.25" data-fa-mask="fas fa-circle" style="color: white"></i></a>
      <a href="https://twitter.com/UppDay">&nbsp;&nbsp;<i class="fab fa-twitter fa-3x" data-fa-transform="shrink-6 " data-fa-mask="fas fa-circle" style="color: white"></i></a>
      <a href="https://www.instagram.com/uppday_event/?hl=fr">&nbsp;&nbsp;<i class="fab fa-instagram fa-3x" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle" style="color: white"></i></a>
      <a href="https://plus.google.com/103103507094574481833">&nbsp;&nbsp;<i class="fab fa-google-plus-g fa-3x" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle" style="color: white"></i></a>


  </div>
  <br/><br/>  <br/><br/>
</div>

<br/><br/>

<div class="row">
  <div class="text-center">
  <p style="color: white"> © 2018 UPPDAY – Tous droits réservés </p>
  </div>
</div>
