
<!-- TEST -->
<div class="cover-image" style="background-image: url('/assets/roomuppday.jpg')">
  <br/><br/><br/><br/><br/><br/>
  <div class="col-md-12 banner text-center">
    <i class="far fa-compass fa-3x title-cover"></i>
    <h1 class="title-cover">1 Projet, 3 Phases</h1><br/>
  </div>

</div>

<!-- INFO/DESCRIPTION UPPDAY -->
<br/><br/>
<div class="row">
    <div class="text-center">
      <h1><strong>Toute votre gestion, sur une seule plateforme</strong></h1>
    </div>

<br/><br/><br/>

<div class="uppday-description">
  A travers Uppday, nous voulons aider les collectivités à mieux gérer leurs biens locatifs. Grâce à notre plateforme, exit les plannings papiers, les classeurs exels, les coups de fils pour connaître la moindre disponibilité, les calculs de  … Nous allons vous permettre de simplifier vos démarches et de valoriser votre location pour assurer un service de qualité à tout usager. En effet, grâce à nos services additionnels, nous vous permettons de développer l’image de votre salle sur le web (photographies qualitatives, description pertinente et accrocheuse, développement de la notoriété grâce au référencement).

  Cela dit, nous ne voulons pas nous arrêter là. Uppday est un projet à plus long terme. Nous voulons utiliser cette solution pour créer un véritable éco-système autour de la réservation de salles en proposant une offre complète de services associés à cette dernière. Pour cela, nous souhaitons travailler avec les différents acteurs locaux qui proposent des prestations associées à la location de salle (animation musicale, service de restauration, location d’hébergements …). Ainsi l’usager souhaitant réserve une salle pourra aller au delà en ayant accès à un produit quasiment clés en main.

   Afin d’atteindre notre objectif, notre projet va se dérouler en 3 grandes étapes :
</div>

<br/><br/><br/>

<div class="col-md-12">

  <div class="col-md-4">
    <h3>Phase 1</h3>
    Elle consiste à  tester et lancer la plateforme de gestion dédiée aux gestionnaires d'équipements locatifs. C'est pourquoi nous faisons appel à vous et nous recherchons des béta-testeurs pour affiner notre produit en fonction des besoins propres aux gestionnaires d'équipements locatifs.
  </div>

  <div class="col-md-4">
    <h3>Phase 2</h3>
    Elle consiste à améliorer et développer la plateforme de gestion en vous mettant à votre disposition des services supplémentaires tels que la possibilité d'insérer vos contrats de location sur le site ou encore la mise en place d'un système de paiement en ligne.
  </div>

  <div class="col-md-4">
    <h3>Phase 3</h3>
    Elle consiste à développer l'écosystème en intégrant des prestations de services annexes afin que l'usager qui souhaite  réserver une salle puisse trouver tout ce dont il a besoin pour organiser son évènemente
  </div>


</div>
</div>
<br/><br/><br/><br/><hr/>


<!-- ORGANISATION EVENEMENT -->
<br/><br/>
<div class="row">
    <div class="text-center">
      <h1><strong>L'organisation d'un évènement</strong></h1>
    </div>

<br/><br/><br/>

<div class="uppday-description">
  Lors de l’organisation d’un évènement, la location d’une salle ne suffit pas. Plusieurs services associés peuvent influer le choix de l’organisateur d’événement : une capacité d’hébergement suffisante dans les environs pour les invités, un service de restauration de qualité, une animation adaptée au public, un photographe disponible toute la soirée … C’est pourquoi nous souhaitons mettre en place des suggestions de prestations associées à la salle louée. Ainsi l’organisateurs pourra trouver un produit, presque, clés en main.
</div>

<br/><br/><br/><br/><br/>

<div class="col-md-12">

  <div class="col-md-6 text-center">
    <div>
      <img src="/assets/PictoSalle.png" alt="Annonce Uppday" style="width: 12%;">
      <h3>La salle</h3>
        Le premier élément de la réservation !
    </div>
    <br/><br/><br/><br/>
    <div>
      <img src="/assets/PictoResto.png" alt="Annonce Uppday" style="width: 10%;">
      <h3>La restauration</h3>
        Pour trouver un traiteur de qualité !
    </div>
  </div>

  <div class="col-md-6 text-center">
    <div>
      <img src="/assets/PictoHebergement.png" alt="Annonce Uppday" style="width: 10%;">
      <h3>L'hébergement</h3>
          Pour se reposer après une soirée mouvementée !
    </div>
    <br/><br/><br/><br/>
    <div>
      <img src="/assets/PictoService.png" alt="Annonce Uppday" style="width: 10%;">
      <h3>Les services</h3>
        Pour trouver son animateur ou un photographe attitré !
    </div>
  </div>

</div>

</div>

<br/><br/><br/><br/><br/><hr/>


<!-- COMMENT TROUVER UN SERVICE -->
<br/><br/><br/><br/><br/>
<div class="row">
  <div class="col-md-6 uppdaypage">
    <h3>COMMENT TROUVER UN SERVICE ?</h3><br/>
      Une fois que l’utilisateur valide la réservation de sa salle, nous lui proposerons une liste de prestataires répondant à des services bien précis (restauration, hébergement, animation…)

      <br/><br/>

      <button class="btn btn-form">
        <%= link_to "Comment ça marche ?", uppday_path, style: "color: white; text-decoration: none;" %>
      </button>
    </div>


  <div class="col-md-6">
    <div class="text-center">
      <iframe width="100%" height="350" src="https://www.youtube.com/embed/6vDeGiH9WTY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </div>
</div>
<br/><br/><hr/>


<!-- COMMENT TROUVER UN SERVICE -->
<br/><br/><br/>
<div class="row">
  <div class="col-md-6 uppdaypage">
    <h3>UN TABLEAU DE BORD DÉDIÉ</h3><br/>
    Chaque prestataire de service aura accès à : un Dashbord dédié lui permettant à tout moment de voir le nombre de consultation de sa fiche, un chat intégré afin de dialoguer rapidement avec le client, ainsi qu’un module personnel de réservation.

      <br/><br/>

      <button class="btn btn-form">
        <%= link_to "Comment ça marche ?", uppday_path, style: "color: white; text-decoration: none;" %>
      </button>
    </div>


  <div class="col-md-6">
    <div class="text-center">
      <iframe width="100%" height="350" src="https://www.youtube.com/embed/chwXq3OYeDQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </div>
</div>
