
<!-- TEST -->
<div class="cover-image" style="background-image: url('/assets/roomuppday.jpg')">
  <br/><br/><br/><br/><br/><br/>
  <div class="col-md-12 banner text-center">
    <i class="far fa-compass fa-3x title-cover"></i>
    <h1 class="title-cover">1 Projet, 3 Phases</h1><br/>
  </div>

</div>

<!-- PCTO INFO-->
<br/><br/>
<div class="row">

      <h1 class="text-center"><strong>Nos services pour améliorer la visibilités de vos biens</strong></h1>
      <br/><br/><br/>




<div class="col-md-12 text-center">

  <div class="col-md-6">
    <i class="fas fa-camera fa-3x"></i>
    <h3>PHOTOGRAPHIE</h3>
    Nous effectuons plusieurs prises photos de la salle et de son environnement, afin de valoriser votre produit tout en veillant à ce que son image soit la plus représentative possible.
  </div>

  <div class="col-md-6">
    <i class="fas fa-code fa-3x"></i>
    <h3>REFÉRENCEMENT</h3>
    Nous vous accompagnerons sur un meilleur référencement de vos salles afin que les clients vous trouve plus facilement sur internet.
  </div>

  </div>
</div>
<br/><br/><br/><br/><hr/>


<!-- DESCRIPTION EXPLICATION-->

<div class="row">

  <div>
    <h3 class="text-center"> Pourquoi référencer ma salle ? </h3>
      <br/>
    C’est une étape très importante, plus votre référencement sera correct, plus votre salle pourra être trouvée par les clients.
    Pour cela, nous nous occupons de tout pour permettre une meilleure visibilité de votre bien, sur les principaux moteurs de recherche
    et annuaires de salles.
  </div>


<br/><br/><hr/><br/><br/>

  <div>
    <h3 class="text-center"> Comment mettre ma salle en avant visuellement </h3>
      <br/>
    Il est essentiel pour un produit représenté sur le web d’avoir une description visuelle au plus proche de la réalité.
    Les clients pourront mieux se projeter et ne seront pas déçus. Nous vous proposons nos service pour prendre des clichés de qualité qui mettrons en avant tous les plus beaux atouts de votre salle.
  </div>


</div>
