
<!-- TEST -->
<div class="cover-image" style="background-image: url('/assets/roomuppday.jpg')">
  <br/><br/><br/><br/><br/><br/>
  <div class="col-md-12 banner text-center">
    <i class="far fa-compass fa-3x title-cover"></i>
    <h1 class="title-cover"><span class="text-red">Uppday</span> c'est quoi ? !</h1><br/>
  </div>

</div>

<!-- INFO/DESCRIPTION UPPDAY -->
<br/><br/>
<div class="row">
    <div class="text-center">
      <h1><strong>Toute votre gestion, sur une seule plateforme</strong></h1>
    </div>

<br/><br/><br/>

<div class="uppday-description">
UppDay est un outil de management de vos biens locatifs. Notre objectif est de simplifier la gestion de vos biens locatifs et de vous faire gagner du temps.
Notre solution entre dans une logique de déploiement du numérique voulue par la réforme territoriale. En effet, depuis quelques années, les services en ligne (actes administratifs, déclarations fiscales, locations de logements …) foisonnent et rencontrent de vrais succès auprès des usagers.
Ces services facilitent l’utilisation des usagers qui retrouvent l’information au sein d’un seul et même endroit et évitent ainsi certaines démarches ou déplacements. Mais ces services permettent également aux organismes gestionnaires de centraliser, coordonner et faciliter des procédures administratives parfois compliquées.
Grâce à UppDay vous pourrez à votre tour, digitaliser vos informations et ainsi assurer un gain de temps de travail, une transparence de l’information et un service qualitatif pour vos usagers.
</div>

<br/><br/><br/>

<div class="text-center">
  <iframe width="70%" height="500" src="https://www.youtube.com/embed/aEMBhZHDEzo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>



<br/><br/><br/>
<hr/>

</div>


<!-- SIMPLIFIER LES DEMARCHES -->
<br/><br/><br/>
<div class="row">
  <div class="col-md-4 text-center" >
    <img src="/assets/PictoDemarche.png" alt="Annonce Uppday" style="width: 45%;"><br/><br/>
  </div>

  <div class="col-md-8 uppdaypage" >
    <h3><strong>Simplifier les démarches</strong></h3> <br/>
    Grâce à notre solution en ligne, vous pouvez <b>suivre et gérer vos réservations</b> depuis n’importe quel terminal mobile. Toutes vos informations sont regroupées en <b>un seul et même endroit </b>ce qui vous permet de faciliter vos démarches administratives et d’optimiser votre temps de travail.
  </div>
</div>


<!-- FLECHE -->
<br/><br/>
<div class="row">
  <div class="col-md-4 text-center" style="color: #4B6484;" >
    <i class="fas fa-angle-double-down fa-3x"></i>
  </div>

  <div class="col-md-8">

  </div>
</div>
<br/><br/>

<!-- GEREZ VOS RESERVATIONS -->


<div class="row">
  <div class="col-md-4 text-center" >
    <img src="/assets/PictoCalendrier.png" alt="Annonce Uppday" style="width: 45%;">
    <br/><br/>
  </div>

  <div class="col-md-8 uppdaypage">
    <h3><strong>Gérez vos réservations</strong></h3> <br/>
      Notre calendrier vous permet une <b>gestion rapide des disponibilités de vos salles</b> tout au long de l’année. Grâce à cet outil, vous pourrez <b>bloquer et libérer des dates en toute simplicité</b>, planifier vos réservations sur le long terme et consulter votre historique en un seul et même endroit.
  </div>

</div>

<!-- FLECHE -->
<br/><br/>
<div class="row">
  <div class="col-md-4 text-center" style="color: #4B6484;" >
    <i class="fas fa-angle-double-down fa-3x"></i>
  </div>

  <div class="col-md-8">

  </div>
</div>
<br/><br/>

<!-- RESTEZ MAITRE DE VOTRE BIEN -->

<div class="row">
  <div class="col-md-4 text-center" >
    <img src="/assets/PictoCadena.png" alt="Annonce Uppday" style="width: 45%;">

  </div>

  <div class="col-md-8 uppdaypage">
    <h3><strong>Restez maître de votre bien</strong></h3> <br/>
      Vous gardez <b>le contrôle</b> sur vos disponibilités, vos prix, vos contrats de location et vos interactions avec les potentiels usagers. La gestion de vos locations est totalement <b>privée</b>, vous et vous seul aurez accès à votre compte utilisateur. Aucune autre personne ne pourra accéder à vos informations personnelles ou à votre tableau de gestion.
  </div>
</div>

<br/><br/><br/><br/><br/>





<!-- Toutes nos caractéristiques -->
<hr/><br/><br/><br/>
<div class="row">
  <h1 class="text-center"> Une solution pensée pour vous ! </h1>
  <br/><br/><br/><br/>

  <div class="col-md-12">

    <!-- LEFT PANEL -->
    <div class="col-md-6">

    <div>
      <div class="col-md-3 text-center" >
        <img src="/assets/PictoInscription(2).png" alt="Annonce Uppday" style="width: 70%; margin-top: 20px;">
        <br/><br/>
      </div>

      <div class="col-md-9">
        <h3><strong>Interface facile</strong></h3> <br/>
          Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
          <br/><br/><br/><br/>
      </div>
    </div>

    <div>
      <div class="col-md-3 text-center" >
        <img src="/assets/PictoDashbord(2).png" alt="Annonce Uppday" style="width: 70%; margin-top: 20px;">
        <br/><br/>
      </div>

      <div class="col-md-9">
        <h3><strong>Tableau de bord dédié</strong></h3> <br/>
          Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
          <br/><br/><br/><br/>
      </div>
    </div>

    <div>
      <div class="col-md-3 text-center" >
        <img src="/assets/PictoSablier.png" alt="Annonce Uppday" style="width: 45%; margin-top: 20px;">
        <br/><br/>
      </div>

      <div class="col-md-9">
        <h3><strong>Mise à jour instantanée</strong></h3> <br/>
          Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
          <br/><br/><br/><br/>
      </div>
    </div>



    </div>


  <!-- RIGHT PANEL -->
  <div class="col-md-6">

  <div>
    <div class="col-md-3 text-center" >
      <img src="/assets/PictoMessage.png" alt="Annonce Uppday" style="width: 60%; margin-top: 20px;">
      <br/><br/>
    </div>

    <div class="col-md-9">
      <h3><strong>Messagerie intégrée</strong></h3> <br/>
        Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
      <br/><br/><br/><br/>
    </div>
  </div>


  <div>
    <div class="col-md-3 text-center" >
      <img src="/assets/PhonePicto.png" alt="Annonce Uppday" style="width: 50%; margin-top: 20px;">
      <br/><br/>
    </div>

    <div class="col-md-9">
      <h3><strong>Notifications emails</strong></h3> <br/>
        Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
      <br/><br/><br/><br/>
    </div>
  </div>


  <div>
    <div class="col-md-3 text-center" >
      <img src="/assets/PictoFicheproduit.png" alt="Annonce Uppday" style="width: 80%; margin-top: 20px;">
      <br/><br/>
    </div>

    <div class="col-md-9">
      <h3><strong>Fiche produit détaillée</strong></h3> <br/>
        Découvrez une interface intuitive vous permettant une prise en main rapide et efficace. En cas de doute, pas de soucis, notre équipe est toujours à votre disposition.
      <br/><br/><br/><br/>
    </div>
  </div>


  </div>






</div>
</div>
