@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "fullcalendar";


body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Helvetica Neue", "Helvetica", "Varela Round", "Arial", sans-serif;
}

a {
  color: #00A699
}

.info-i {
  font-size: 12px;
}


.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #00b8c1;
}

.text-red, .icon-red {
  color: #00b8c1
}

.redwaiting {
  color: red;
}

.greenwaiting {
  color: green;
}

//NAVBAR
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-test {
  background-color: white;
  border-top: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-test .navbar-nav > .active > a, .navbar-test .navbar-nav > .active > a:hover, .navbar-test .navbar-nav > .active > a:focus {
    color: #00A699;
    font-size: 17px;
    font-weight: bold;

}

.navbar-test .navbar-nav > li > a {
    color: #3d3d3d;
}

.navbar-default .navbar-brand {
  color: #7CCBDD;
  font-size: 2em;
  font-weight: 400;

}


//BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}


.btn.btn-message {
  width: 70%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 13px;
}

.btn.btn-avis {
  border-color: #c4c4c4;
  background: white;
  border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 13px;
  color: #00A699;
}

.btn.btn-home {
  width: 25%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 40px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #7ccbdd;
  background-color: #7ccbdd;
  border-radius: 40px;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #283863;
  background-color: #283863;
}

.btn.btn-form {
  border: 1px solid #29B1C3;
  background-color: #29B1C3;
  border-radius: 40px;
}

.btn.btn-form:active {
  outline: none;
  border-color: #3B5998;
  background-color: #3B5998;
}

.btn.btn-facebook{
  border: 1px solid #2d467b;
  background-color: #2d467b;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #283863;
  background-color: #283863;
}

//PANELS
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #29B1C3;
  font-size: 17px;
  font-weight: 400;
}

.panel-block {
  border-bottom: 1px solid lightgray;
  background-color: #edefed
}


.panel-name {
  color: #00A694;
  background-color: #ededed;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-navbar {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
}

.panel-reservation {
  background-color: #fcfcfc;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
  word-spacing: 100px;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}



//AVATAR
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

//FORMS
.form-group{
  margin-bottom: 25px;
}

.form-control {
  border-radius: 30px;
  height: 4rem;
}

.form-create {
  border-radius: 30px;
  height: 4rem;
}

.form-group input {
  height: 45px;
  border: 1px solid #00A699;
}

.form-group textarea {
  border: 1px solid #00A699;
}

.form-group input[type="radio"] {
  height: 15px;
  margin-right: 10px;
}

.btn-group label {
  margin-right: 15px;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #00A699;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox Different displaying so it nedd to be turn off */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #00A699;
  top: 35px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #00A699;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #00A699;
}


// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;

}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

// PHOTO UPLOAD
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

// ROOM SHOW
.event li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.event .text-line-through {
  text-decoration:line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

.equipment li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.equipment .text-line-through {
  text-decoration:line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

.picture-cover {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

// RESERVATIONS
.reservation-table td {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dce0e0;
  padding: 10px;
}

.reservation-table .total td {
  font-style: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: #00A699;
  background-color: white;
  border: 1px solid #00A699;
  text-align: center;
}

.message-alert {
  color: #d43242;
  font-size: 14px;
  padding-top: 10px;
}

// SEARCH-BARRE DE RECHERCHE
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00A699;
}

// HOME PAGE
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.title-cover {
  color: white;
  font-size: 50px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cover-image {
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.uppday-page{
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.room-image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// HOST-CALENDAR
.fc-content.Waiting {
  background-color: #C9CC6D;
}

.fc-past {
  background-color: lightgray;
}

.fc-day {
  position: relative;
}

.fc-content {
  background-color: #00A699;
  height: 40px;
  border-radius: 20px;
}

.fc-event {
  border: 0px;
  background-color: transparent;
}

.fc-title {
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 20px;
}

.day-price {
  position: absolute;
  color: #EAA90B;
  bottom: 2px;
  right: 2px;
}

.badge {
  background-color: #FF5A5F;
  position: relative;
  top: -15px;
  left: -5px;
}

.dropdown-test {
  color: #484848;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;

}

// UPPDAY PAGE INFO
.uppdaypage {
  font-size: 15px;
  line-height: 25pt;
}

.uppday-description {
  font-size: 17px;
  line-height: 22pt;
  font-family: Helvetica;

}
